html, .row, .col-lg-2, .col-lg-8{
    background-color: #dfe6e9;
}
body{
    width: 100%;
}
.navbar, footer{
    background-color: #2d3436;
    color: #dfe6e9;
}

#title{
    color: #dfe6e9 !important;
}

.col-lg-2{
    border : solid white 5px;
    border-width: thin;
    border-radius: 5 px;
}

.row{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

ul{
    width: 100%;
}

ng-map{
    height: 530px !important;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.navbar-brand{
    width: 30%;
    margin-left: 35%;
    text-align: center;
}

.alert-danger-custom{
    text-align: center !important;
    color: whitesmoke !important;
    background-color: #b52020e0 !important;
    margin-bottom: 0 !important;
    font-size: small !important;
}