ul{
    width: 100%;
}
.nav-link-select{
    color: white !important;
    text-align: center;
}
.nav-item-select{
   border-radius: 2px;
   margin-left: 3px;
}
ng-map{
    height: 500px !important;
}
.alert-danger-custom{
   
    text-align: center !important;
    color: whitesmoke !important;
    background-color: #b52020e0 !important;
    margin-bottom: 0 !important;
    font-size: small !important;
}